#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app > h1 {
  color: var(--primary-color);
  margin-top: -.5rem;
}

#app > h2 {
  align-self: flex-start;
  margin-top: 6.4rem;
}

#app > p {
  align-self: flex-start;
  text-align: justify;
  width: 51.2rem;

  margin-top: -.5rem;
}

#app .placeholder {
  color: var(--placeholder-off);
  user-select: none;
}
