:root {
  font-size: 62.5%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --background-global: #121214;
}

body {
  background-color: var(--background-global);
  
  width: 100%;
  height: 100vh;

  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}